<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Notification Status</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        {% block css %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <h1>Notifications DASHBOARD&trade;</h1>
            {% block content %}{% endblock %}
        </div>
        <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    </body>
</html>