<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Notification Status</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        {% block css %}{% endblock %}
    </head>
    <body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Norrin</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="{% url 'notification_list' %}"><i class="glyphicon glyphicon-phone"></i> Notifications</a></li>
					<li><a href="/config/"><i class="glyphicon glyphicon-cog"></i> App Config</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/logout/"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
				</ul>
			</div>
		</nav>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    </body>
</html>